<div class="p+">
    <div class="card top-space">
        <div class="p+">
            <div flex-container="row">
                <div class="card__img card__img--left" style="height: 160px;">
                    <img src="imgs/employee.jpg">
                </div>
                <div flex-item>
                    <strong class="fs-headline display-block">
                        Id: {{employee.id}}
                    </strong>
                    <strong class="fs-headline display-block">
                        Nombre: {{employee.employee_name}}
                    </strong>
                    <strong class="fs-headline display-block">
                        Edad: {{employee.employee_age}}
                    </strong>
                    <strong class="fs-headline display-block">
                        Salario: {{employee.employee_salary}}
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>